<div>
    <.header>
    <%= @title %>
    </.header>

    <.simple_form
    for={@form}
    id="group-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
    >
    <.input field={@form[:name]} type="text" label="Name" />
    <:actions>
        <.button phx-disable-with="Saving...">Save Group</.button>
    </:actions>
    </.simple_form>
</div>